# Counting

In [1]:
import numpy as np
import pandas as pd
from pandas import Timestamp

In [95]:
sales=np.array([[1, 'A', 1, Timestamp('2010-02-05 00:00:00'), 24924.5, False,
        5.727777777777779, 0.6794508388787476, 8.106],
       [1, 'A', 1, Timestamp('2010-03-05 00:00:00'), 21827.9, False,
        8.055555555555555, 0.693451964252221, 8.106],
       [1, 'A', 1, Timestamp('2010-04-02 00:00:00'), 57258.43, False,
        16.81666666666667, 0.718284148876872, 7.808],
       [1, 'A', 1, Timestamp('2010-05-07 00:00:00'), 17413.94, False,
        22.52777777777778, 0.7489281213923986, 7.808],
       [1, 'A', 1, Timestamp('2010-06-04 00:00:00'), 17558.09, False,
        27.049999999999997, 0.7145857384008601, 7.808],
       [1, 'A', 1, Timestamp('2010-07-02 00:00:00'), 16333.14, False,
        27.17222222222222, 0.7050755400339724, 7.787000000000001],
       [1, 'A', 1, Timestamp('2010-08-06 00:00:00'), 17508.41, False,
        30.64444444444444, 0.693980308605937, 7.787000000000001],
       [1, 'A', 1, Timestamp('2010-09-03 00:00:00'), 16241.78, False,
        27.338888888888885, 0.6807716997630375, 7.787000000000001],
       [1, 'A', 1, Timestamp('2010-10-01 00:00:00'), 20094.19, False,
        22.16111111111111, 0.6876401763613453, 7.837999999999999],
       [1, 'A', 1, Timestamp('2010-11-05 00:00:00'), 34238.88, False,
        14.855555555555558, 0.7103589835711321, 7.837999999999999],
       [1, 'A', 1, Timestamp('2010-12-03 00:00:00'), 22517.56, False,
        9.594444444444447, 0.7153782549314341, 7.837999999999999],
       [1, 'A', 1, Timestamp('2011-01-07 00:00:00'), 15984.24, False,
        9.038888888888891, 0.7861763983293752, 7.742000000000001],
       [1, 'A', 2, Timestamp('2010-02-05 00:00:00'), 50605.27, False,
        5.727777777777779, 0.6794508388787476, 8.106],
       [1, 'A', 2, Timestamp('2010-03-05 00:00:00'), 48397.98, False,
        8.055555555555555, 0.693451964252221, 8.106],
       [1, 'A', 2, Timestamp('2010-04-02 00:00:00'), 47450.5, False,
        16.81666666666667, 0.718284148876872, 7.808],
       [1, 'A', 2, Timestamp('2010-05-07 00:00:00'), 47903.01, False,
        22.52777777777778, 0.7489281213923986, 7.808],
       [1, 'A', 2, Timestamp('2010-06-04 00:00:00'), 48754.47, False,
        27.049999999999997, 0.7145857384008601, 7.808],
       [1, 'A', 2, Timestamp('2010-07-02 00:00:00'), 47077.72, False,
        27.17222222222222, 0.7050755400339724, 7.787000000000001],
       [1, 'A', 2, Timestamp('2010-08-06 00:00:00'), 50031.73, False,
        30.64444444444444, 0.693980308605937, 7.787000000000001],
       [1, 'A', 2, Timestamp('2010-09-03 00:00:00'), 49015.05, False,
        27.338888888888885, 0.6807716997630375, 7.787000000000001],
       [1, 'A', 2, Timestamp('2010-10-01 00:00:00'), 45829.02, False,
        22.16111111111111, 0.6876401763613453, 7.837999999999999],
       [1, 'A', 2, Timestamp('2010-11-05 00:00:00'), 46381.43, False,
        14.855555555555558, 0.7103589835711321, 7.837999999999999],
       [1, 'A', 2, Timestamp('2010-12-03 00:00:00'), 44405.02, False,
        9.594444444444447, 0.7153782549314341, 7.837999999999999],
       [1, 'A', 2, Timestamp('2011-01-07 00:00:00'), 43202.29, False,
        9.038888888888891, 0.7861763983293752, 7.742000000000001],
       [1, 'A', 3, Timestamp('2010-02-05 00:00:00'), 13740.12, False,
        5.727777777777779, 0.6794508388787476, 8.106],
       [1, 'A', 3, Timestamp('2010-03-05 00:00:00'), 12275.58, False,
        8.055555555555555, 0.693451964252221, 8.106],
       [1, 'A', 3, Timestamp('2010-04-02 00:00:00'), 11157.08, False,
        16.81666666666667, 0.718284148876872, 7.808],
       [1, 'A', 3, Timestamp('2010-05-07 00:00:00'), 9372.8, False,
        22.52777777777778, 0.7489281213923986, 7.808],
       [1, 'A', 3, Timestamp('2010-06-04 00:00:00'), 8001.41, False,
        27.049999999999997, 0.7145857384008601, 7.808],
       [1, 'A', 3, Timestamp('2010-07-02 00:00:00'), 7857.88, False,
        27.17222222222222, 0.7050755400339724, 7.787000000000001],
       [1, 'A', 3, Timestamp('2010-08-06 00:00:00'), 26719.02, False,
        30.64444444444444, 0.693980308605937, 7.787000000000001],
       [1, 'A', 3, Timestamp('2010-09-03 00:00:00'), 19081.8, False,
        27.338888888888885, 0.6807716997630375, 7.787000000000001],
       [1, 'A', 3, Timestamp('2010-10-01 00:00:00'), 9775.17, False,
        22.16111111111111, 0.6876401763613453, 7.837999999999999],
       [1, 'A', 3, Timestamp('2010-11-05 00:00:00'), 9825.22, False,
        14.855555555555558, 0.7103589835711321, 7.837999999999999],
       [1, 'A', 3, Timestamp('2010-12-03 00:00:00'), 10856.85, False,
        9.594444444444447, 0.7153782549314341, 7.837999999999999],
       [1, 'A', 3, Timestamp('2011-01-07 00:00:00'), 15808.15, False,
        9.038888888888891, 0.7861763983293752, 7.742000000000001],
       [1, 'A', 4, Timestamp('2010-02-05 00:00:00'), 39954.04, False,
        5.727777777777779, 0.6794508388787476, 8.106],
       [1, 'A', 4, Timestamp('2010-03-05 00:00:00'), 38086.19, False,
        8.055555555555555, 0.693451964252221, 8.106],
       [1, 'A', 4, Timestamp('2010-04-02 00:00:00'), 37809.49, False,
        16.81666666666667, 0.718284148876872, 7.808],
       [1, 'A', 4, Timestamp('2010-05-07 00:00:00'), 37168.34, False,
        22.52777777777778, 0.7489281213923986, 7.808],
       [1, 'A', 4, Timestamp('2010-06-04 00:00:00'), 40548.19, False,
        27.049999999999997, 0.7145857384008601, 7.808],
       [1, 'A', 4, Timestamp('2010-07-02 00:00:00'), 39773.71, False,
        27.17222222222222, 0.7050755400339724, 7.787000000000001],
       [1, 'A', 4, Timestamp('2010-08-06 00:00:00'), 40973.88, False,
        30.64444444444444, 0.693980308605937, 7.787000000000001],
       [1, 'A', 4, Timestamp('2010-09-03 00:00:00'), 38321.88, False,
        27.338888888888885, 0.6807716997630375, 7.787000000000001],
       [1, 'A', 4, Timestamp('2010-10-01 00:00:00'), 34912.45, False,
        22.16111111111111, 0.6876401763613453, 7.837999999999999],
       [1, 'A', 4, Timestamp('2010-11-05 00:00:00'), 37980.55, False,
        14.855555555555558, 0.7103589835711321, 7.837999999999999],
       [1, 'A', 4, Timestamp('2010-12-03 00:00:00'), 37110.55, False,
        9.594444444444447, 0.7153782549314341, 7.837999999999999],
       [1, 'A', 4, Timestamp('2011-01-07 00:00:00'), 37947.8, True,
        9.038888888888891, 0.7861763983293752, 7.742000000000001],
       [1, 'B', 5, Timestamp('2010-02-05 00:00:00'), 32229.38, True,
        5.727777777777779, 0.6794508388787476, 8.106],
       [2, 'B', 5, Timestamp('2010-03-05 00:00:00'), 23082.14, False,
        8.055555555555555, 0.693451964252221, 8.106]], dtype=object)

In [96]:
df = pd.DataFrame(sales, columns=['store',
 'type',
 'department',
 'date',
 'weekly_sales',
 'is_holiday',
 'temperature_c',
 'fuel_price_usd_per_l',
 'unemployment'])

# Dropping duplicates

In [97]:
# Drop duplicate store/type combinations
store_types = df.drop_duplicates(subset=['store', 'type'])
store_types.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.5,False,5.72778,0.679451,8.106
48,1,B,5,2010-02-05,32229.4,True,5.72778,0.679451,8.106
49,2,B,5,2010-03-05,23082.1,False,8.05556,0.693452,8.106

In [98]:
# Drop duplicate store/type combinations
store_depts = df.drop_duplicates(subset=['store', 'department'])
store_types.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.5,False,5.72778,0.679451,8.106
48,1,B,5,2010-02-05,32229.4,True,5.72778,0.679451,8.106
49,2,B,5,2010-03-05,23082.1,False,8.05556,0.693452,8.106

# Counting categorical variables

In [99]:
# Count the number of stores of each type
store_counts = df["type"].value_counts()
store_counts

A    48
B     2
Name: type, dtype: int64

In [100]:
# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts["department"].value_counts(sort=True, normalize=True)
dept_props_sorted

5    0.333333
4    0.166667
3    0.166667
2    0.166667
1    0.166667
Name: department, dtype: float64

# Group

In [101]:
# Group by type; calc total weekly sales
sales_by_type = df.groupby("type")["weekly_sales"].sum()
sales_by_type

type
A    1466012.70
B      55311.52
Name: weekly_sales, dtype: float64

In [102]:
# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = df.groupby(["type", "is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         1428064.90
      True            37947.80
B     False           23082.14
      True            32229.38
Name: weekly_sales, dtype: float64

# Multiple grouped summaries

In [109]:
# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = df.groupby("type")["weekly_sales"].agg([np.min, np.max])
sales_stats

          amin      amax
type
A      7857.88  57258.43
B     23082.14  32229.38

In [111]:
# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = df.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([np.min, np.max])
unemp_fuel_stats

     unemployment        fuel_price_usd_per_l
             amin   amax                 amin      amax
type
A           7.742  8.106             0.679451  0.786176
B           8.106  8.106             0.679451  0.693452

# Pivoting on one variable

In [116]:
# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = df.pivot_table(values='weekly_sales', index='type', aggfunc=[np.min, np.max])
mean_med_sales_by_type

             amin         amax
     weekly_sales weekly_sales
type
A         7857.88     57258.43
B        23082.14     32229.38

In [118]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = df.pivot_table(values='weekly_sales', index='type', columns='is_holiday', aggfunc=np.max)
mean_sales_by_type_holiday

is_holiday     False     True
type
A           57258.43  37947.80
B           23082.14  32229.38

In [121]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
#df.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0, margins=True)